@import "../mixins/strip-button-style";

// ======================================================
// Icon
// ======================================================

:root {
  --icon-size: 1.2em;
}

.c-sst-icon {
  @include strip-button-style;

  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  color: currentColor;
  text-transform: none;
  vertical-align: middle;
  cursor: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  // Children
  // -------------------------------------------

  // The SVG element
  > svg,
  &__item {
    vertical-align: top;
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}
