// ======================================================
// Message
// ======================================================

:root {
  --sst-message-color: currentColor;
}

.c-sst-message {
  font-weight: 500;
  color: var(--sst-message-color);

  // Modifiers
  // -------------------------------------------

  &.bad {
    //
  }
}
