// ======================================================
// Focus
// ======================================================

@mixin focus-style($color: var(--sst-focus-accent)) {
  outline: none;
  box-shadow: 0 0 0 var(--sst-focus-width) $color;
}

@mixin focus($color: var(--sst-focus-accent)) {
  &:focus {
    outline: none;
    box-shadow: 0 0 0 var(--sst-focus-width) $color;
  }
}
