@import "../mixins/focus";
@import "../mixins/transition";

// ======================================================
// Checkbox
// ======================================================

:root {
  --sst-checkbox-accent: transparent none;
  --sst-checkbox-color: currentColor;
  --sst-checkbox-link-color: var(--sst-brand-secondary-accent);
  --sst-checkbox-border-color: var(--sst-form-control-border-color);
  --sst-checkbox-border-color-active: var(--sst-palette-primary-500);
  --sst-checkbox-border-radius: var(--sst-form-control-border-radius);
  --sst-checkbox-border-width: var(--sst-form-control-border-width);
}

.c-sst-checkbox {
  $this: &;
  $checkbox-size: 36px;

  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  min-height: $checkbox-size;

  // Children
  // -------------------------------------------

  &__indicator {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: $checkbox-size;
    width: $checkbox-size;
    background: var(--sst-checkbox-accent);
    color: var(--sst-checkbox-color);
    border: var(--sst-checkbox-border-width) solid var(--sst-checkbox-border-color);
    border-radius: var(--sst-checkbox-border-radius);

    > .c-sst-icon {
      $size: $checkbox-size * 0.7;

      @include transition;

      color: var(--sst-checkbox-color);
      height: $size;
      width: $size;
      opacity: 0;
      transition-property: opacity;
    }
  }

  &__description {
    margin: 0;
    padding-left: $checkbox-size + 15px;
    display: block;

    a {
      color: var(--sst-checkbox-link-color);
    }
  }

  // Child Nodes
  // -------------------------------------------

  input {
    margin: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:focus ~ #{$this}__indicator {
      --sst-checkbox-border-color: var(--sst-checkbox-border-color-active);

      @include focus-style;
    }

    &:checked ~ #{$this}__indicator {
      > .c-sst-icon {
        opacity: 1;
      }
    }
  }
}
