@import "../mixins/focus";

// ======================================================
// Form Control
// ======================================================

:root {
  --sst-form-control-accent: transparent none;
  --sst-form-control-color: currentColor;
  --sst-form-control-font-size: 22px;
  --sst-form-control-height: 60px;
  --sst-form-control-padding: 15px;
  --sst-form-control-border-radius: 5px;
  --sst-form-control-border-width: 2px;
  --sst-form-control-border-color: rgba(0, 0, 0, 0.14);
  --sst-form-control-border-color-active: var(--sst-palette-primary-500);
}

%form-control {
  @include focus;

  font-size: var(--sst-form-control-font-size);
  display: block;
  width: 100%;
  height: var(--sst-form-control-height);
  padding: var(--sst-form-control-padding);
  color: var(--sst-form-control-color);
  background: var(--sst-form-control-accent) none; // Reset unusual Firefox-on-Android default style;
  background-clip: border-box;
  border: var(--sst-form-control-border-width) solid var(--sst-form-control-border-color);
  appearance: none;
  text-align: left;
  white-space: nowrap;
  border-radius: var(--sst-form-control-border-radius);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &::placeholder {
    color: var(--sst-color-mamba);
    opacity: 1; // Override Firefox's unusual default opacity;
  }

  &:focus {
    --sst-form-control-border-color: var(--sst-form-control-border-color-active);
  }

  // States
  // -------------------------------------------

  &.is-disabled,
  &:disabled,
  &[readonly] {
    // iOS fix for unreadable disabled content;
    opacity: 1;
    cursor: default;

    &:focus {
      --sst-form-control-border-color: var(--sst-form-control-border-color);

      box-shadow: none;
    }
  }

  // Modifiers
  // -------------------------------------------

  // Select element
  &--select {
    padding-top: 0;
    padding-bottom: 0;
  }
}
