// ======================================================
// Heading
// ======================================================

:root {
  --sst-heading-h3-font-size: 22px;

  @media (min-width: 1200px) {
    --sst-heading-h3-font-size: 36px;
  }
}

.c-sst-heading {
  @include focus;

  display: block;
  text-decoration: none;
  text-align: inherit;

  // Modifiers
  // -------------------------------------------

  &--h3 {
    font-size: var(--sst-heading-h3-font-size);
    font-weight: 600;
  }

  // Child Nodes
  // -------------------------------------------

  strong {
    color: var(--sst-brand-secondary-accent);
  }

  a {
    text-decoration: none;
  }
}
