// ======================================================
// Logo
// ======================================================

:root {
  --sst-logo-max-width: 100%;
  --sst-logo-padding: 0 15px;

  @media (min-width: 1200px) {
    --sst-logo-padding: 0 30px;
  }
}

.c-sst-logo {
  display: flex;
  justify-content: center;
  padding: var(--sst-logo-padding);

  // Children
  // -------------------------------------------

  &__link {
    max-width: var(--sst-logo-max-width);
    display: block;
  }

  &__item {
    max-width: 100%;
    height: auto;
  }
}
