// ======================================================
// Form Group
// ======================================================

:root {
  --sst-form-group-addon-color: var(--sst-color-mamba);
  --sst-form-group-gutter: 10px;
}

.l-sst-form-group {
  position: relative;

  // Modifiers
  // -------------------------------------------

  &--priority {
    z-index: 1;
  }

  // Children
  // -------------------------------------------

  &__field {
    > * + * {
      margin-top: var(--sst-form-group-gutter);
    }
  }
}
